/*--------- Globalt ---------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: fff;
    font-family: 'Poppins';
}

/*----------- Navigation ---------*/
/* HEADER */
.navcontainer {
    width: 90%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

#main-header {
    background: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    padding-top: 0.9em;
}

.nav-toggle {
    display: none;
}

.nav-search {
    display: flex;
    align-self: center;
    padding: 20px 25px;
    color: rgb(71, 71, 71)
}

.nav-search:hover {
    color: #71d687;
    cursor: pointer;
}

/* Menu */
#menu {
    position: absolute;
    text-align: right;
    top: 100%;
    left: 0;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform .4s ease-in-out;
}

#menu ul {
    list-style: none;
    background-color: whitesmoke;
}

#menu li {
    padding: 20px 25px;
}

#menu a {
    text-decoration: none;
    color: black;
    opacity: 0;
    transition: opacity .15s ease-in-out;
    font-weight: bolder;
    text-transform: uppercase;
    padding-left: 18px !important;
    padding-right: 18px !important;
}

.aktivmenu {
    background-color: #4ECC69;
    border-radius: 20px;
    color: white !important;
}

.aktivmenu:hover {
    background-color: #71d687;
}

#menu a:hover {
    color: #71d687;
}

#nav-toggle:checked+#menu {
    transform: scale(1, 1);
}

#nav-toggle:checked~#menu a {
    opacity: 1;
    transition: opacity .25s ease-in-out .35s;
}


/* Bottom navgiation */
.bottomnav {
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-direction: row;
}

.bottomnav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.bottomnav li {
    list-style: none;
}

.bottomnav a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.bottommenus {
    background-color: #4ECC69;
    -moz-box-shadow: 0 0 20px rgb(167, 167, 167);
    -webkit-box-shadow: 0 0 20px rgb(167, 167, 167);
    box-shadow: 0 0 20px rgb(167, 167, 167);
    transition-duration: 0.5s;
    height: 100%;
    width: 25%;
    padding: 16px 0;
    text-align: center;
    border-radius: 5px;
}

.bottommenus a {
    display: flex;
    flex-direction: column;
}

.bottommenus:hover {
    background-color: #71d687;
}

.active {
    border-right: whitesmoke 1px solid;
    background-color: #71d687 !important;
}

.border {
    border-right: whitesmoke 1px solid;
}

.fas {
    margin-bottom: 4px;
}

.far {
    margin-bottom: 4px;
}

/*--------- Forside --------*/
.forsidecontent {
    width: 100%;
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.hero {
    height: 25vh;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/IMG_7179.JPG);
    background-size: cover;
    background-position: center center;
}

.content {
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

article {
    border: 1px solid rgb(226, 226, 226);
    border-radius: 20px;
    margin: 2em 0;
    width: 90%;
    padding: 1em;
    overflow-wrap: break-word;
}

article h1 {
    font-size: 24px;
}

article li {
    list-style-type: none;
    font-size: 12px;
}

article button {
    background-color: #4ECC69;
    border-radius: 50px;
    border-style: none;
    cursor: pointer;
    color: white;
    transition-duration: 0.5s;
    height: 2em;
    padding-left: 1em;
    padding-right: 1em;
    -moz-box-shadow: 0 0 20px rgb(167, 167, 167);
    -webkit-box-shadow: 0 0 20px rgb(167, 167, 167);
    box-shadow: 0 0 20px rgb(167, 167, 167);
    display: block;
    margin: 2em auto auto auto;
    font-family: 'Poppins';
}

article button:hover {
    background-color: #71d687;
}



/*--------- Madspild --------*/
.madspild {
    /*margin: 20px;*/
    padding-left: 10px;
    padding-top: 20px;
    background-color: fff;
    border-radius: 20px;
    width: 100%;

}

.madspild h1 {
    /*border-bottom: #000000 solid 2px;*/
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    z-index: 1;
}

.bgAPI {
    background-image: url(/img/baggrund_API.jpeg);
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 130px;
    color: white;
}

.textAPI h1 {
    padding-top: 40px;
    padding-left: 15px;
}

.text_wrapper {
    display: flex;
}

.text_wrapper p {
    text-align: left;
    width: 100%;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 1.2px;
}

#bemaerk {
    padding-bottom: 10px;
    margin-right: 25px;
    font-size: 12px;
    letter-spacing: 1px;
}

.fotexNetto img {
    width: 100%;
    height: auto;
    padding-left: 10px;
    padding-right: 40px;
    padding-top: 30px;

}

.fotexNetto {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#butik {

    display: flex;
    align-items: center
}

#butikker {
    display: block;
    text-align: left;
    font-size: .8rem;
    /* color: #000000; */
    background-color: #707e73;
    width: 100%;
}

#butikker a {
    display: block;
    text-align: left;
    font-size: 1.1rem;
    color: #000000;
}

tbody {
    margin-top: 0px;
}

#varer {
    color: white;
    font-size: 1rem;
    display: block;
    overflow: scroll;
    height: 0px;
}

#varer td,
#varer th {
    /* border-bottom: 1px solid #ddd; */
    padding: 8px;
    height: 50px;
    text-align: left;
}

#varer td h3 {
    color: #000000;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}

#varer th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.celle1 {
    display: inline-block;
    height: 100px;
    width: 250px;
    border-radius: 15px;
    padding: 10px;
    background-color: #707e73;
    border: 1px solid #707e73;


}

.celle2 {
    margin-bottom: 7px;
    /*margin-bottom: 15px; */
    border: 5px solid #707e73;
    border-radius: 15px;
    padding: 10px;
    background-color: #707e73;
    /*width: 18vw;*/
    height: auto;
    cursor: pointer;
    transition: all .6s;
    width: 250px;

}


.celle2:hover {
    transition: all .6s;
    border: 1px solid #ed9648;
    background-color: #ed9648;
}

.celle2 p {
    text-align: left;
    font-size: 1vh;

    padding-left: 5px;
    padding-right: 10px;
    font-weight: bold;
}

.celle2_billede {
    display: flex;
    align-content: flex-start;
    padding-left: 5px;
    width: 90px;
    height: auto;
    /* height: 100px; */
    border-radius: 5px;
}

.celle1 .pris {
    display: flex;
    align-items: center;
    justify-content: center;
}

.celle1 .pris span {
    padding-left: 5px;
}

.tpris {
    display: flex;
    max-height: 100%;

    /* justify-content: space-around; */
}

.tpris p {
    text-align: center;
    margin-left: 10px;
    font-size: 1.2rem;
    width: 100px;
    /*margin-top: auto;*/
}

.tpris p span {
    /* margin-left: 10px; */
    font-size: 2rem;
}

.besparelse {
    display: inline-block;
    align-content: flex-start;
    border: 1px solid #ed9648;
    background-color: #ed9648;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
    width: 40%;
    font-size: 25px;

}

.besparelse p {
    font-size: 12px;
}

.antal {
    display: inline-block;
    align-content: flex-start;
    border: 1px solid #ed9648;
    background-color: #ed9648;
    border-radius: 10px;
    text-align: center;
    margin-left: 5px;
    width: 40%;
    font-size: 25px;

}

.antal p {
    font-size: 12px;
}

.celle1_billede {
    max-width: 50%;
    max-height: 100px;
    border-radius: 5px;
}

.open p {
    font-size: .5vh;
    font-weight: 300;
    padding-top: 5px;
}

.butik_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*margin-left: 20px;*/
    margin-right: 20px;
    /* align-items: flex-start; */
    width: 90%;
    height: 250px;
    border-bottom: 2px black solid;
    overflow-y: scroll;
}

/* 404 Side */
.error-message {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 50px;
}

.error-message h1 {
    font-size: 38px;
}

.error-message p {
    font-size: 24px;
}


.error-message button {
    margin: 3em 0;
    background-color: #4ECC69;
    border-radius: 50px;
    border-style: none;
    cursor: pointer;
    color: white;
    transition-duration: 0.5s;
    height: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    -moz-box-shadow: 0 0 20px rgb(167, 167, 167);
    -webkit-box-shadow: 0 0 20px rgb(167, 167, 167);
    box-shadow: 0 0 20px rgb(167, 167, 167);
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: bolder;
}

article button:hover {
    background-color: #71d687;
}

/*--------- Media Queries --------*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #menu {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    article {
        width: 75%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .error-message img {
        margin-top: 2em;
    }

    .error-message {
        padding-bottom: 0;
    }

    .content {
        margin: 0 auto;
        width: 75%;
        flex-direction: row;
        align-items: unset;
    }

    article {
        top: 0;
        min-width: 33%;
        margin: 1em;
    }

    #menu {
        position: sticky;
        background-color: transparent;
        margin: 0;
        display: flex;
        flex-direction: row;
        color: gray;
        transform: scale(1, 1);
        top: 0;
    }

    #menu ul {
        background-color: transparent;
    }

    .aktiv {
        background-color: #71d687;
        border-radius: 30px;
        padding-left: 30px !important;
        padding-right: 30px !important;
        color: white !important;
    }

    .navcontainer {
        display: flex;
        flex-direction: row;
        position: sticky;
    }

    #menu ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }

    #menu li {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #menu a {
        opacity: 1;
        flex-direction: row;
        color: rgb(71, 71, 71);
        font-size: 20px;
        padding: 10px 5px;
        font-weight: normal;
    }

    nav {
        display: block;
        z-index: 1000;
    }

    .bottomnav {
        display: none;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/*--------- Det sker/kalender start --------*/
.kwrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.storwrapper {
    padding-top: 130px;
}

.storwrapper:after {
    content: ' ';
    width: 100%;
    position: absolute;
    left: 0;
    right: 17px;
    height: 10em;
    top: 520px;
    background-image: linear-gradient(to bottom,
            rgba(232, 232, 232, 0),
            rgba(232, 232, 232, 0.993));
    z-index: 1;
}

.kwrapper::-webkit-scrollbar {
    -webkit-appearance: none;
}

.kwrapper::-webkit-scrollbar:vertical {
    width: 20px;
}

.kwrapper::-webkit-scrollbar:horizontal {
    height: 20px;
}

.kwrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid #e8e8e8;
    /*HUSK SAMME FARVE SOM BAGGRUND */
    background-color: rgba(0, 0, 0, .5);
}

.kalender {
    padding: 20px;
}

.sammen ul {
    margin-left: 30px;
    margin-bottom: 15px;
}

.tekst,
.sammen {
    width: 25%;
    margin-left: 30px;
    line-height: 22px;
}


.stor {
    flex-basis: 100%;
    width: 60%;
}

@media (max-width: 990px) {

    .kwrapper {
        flex-wrap: nowrap;
    }

    .tekst,
    .sammen {
        margin-left: 15px;
        margin-right: 15px;
    }

    .kalender {
        width: 100%;
    }

    .kalender stor {
        order: 3;
    }

    .kalender tekst {
        order: 1;
    }

    .kalender sammen {
        order: 2;
    }
}

.kwrapper h2,
.container h3 {
    text-align: center;
    font-weight: bolder;
}

.kwrapper img,
.kwrapper a {
    visibility: hidden !important;
    opacity: 0 !important;
    display: none !important;
}

.default-button {
    z-index: 999;
    background-color: #4ECC69;
    border-radius: 100px;
    border-style: none;
    cursor: pointer;
    color: white;
    transition-duration: 0.5s;
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    -moz-box-shadow: 0 0 20px rgb(167, 167, 167);
    -webkit-box-shadow: 0 0 20px rgb(167, 167, 167);
    box-shadow: 0 0 20px rgb(167, 167, 167);
}

.default-button:hover {
    z-index: 999;
    background-color: #71d687;
}



.sammen form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#search_input {
    font-size: 18px;
}

.form-group {
    margin-bottom: 30px;
    margin-top: 20px;
    font-family: 'Poppins' !important;
    margin-right: 30px !important;
    margin-left: 30px !important;
}

.form-group label {
    font-size: 18px;
    font-weight: 600;
}

.form-group input {
    width: 60%;
    padding: .375rem .75rem;
    padding-left: 17px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-family: Arial, FontAwesome;
    margin-right: auto !important;
    margin-left: auto !important;
    border-radius: 20px !important;
}

@media only screen and (max-width: 600px) {
    .form-group input {
        width: 100%;
        margin-left: 40px;
        margin-right: 40px;
    }
}

.form-group input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.container {
    margin-top: 30px !important;
}

.mapsframe {
    width: 100%;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    margin-bottom: 40px;
}

.mapsframe iframe {
    width: 100%;
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.col-lg-12 {
    text-align: center;
}

/*--------- Det sker/kalender slut --------*/