/*--------- Globalt ---------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' !important;
}

body {
    font-family: 'Poppins' !important;
    /*background-color: #e8e8e8;*/
    background-color: fff;
}

/*----------- Fonts ---------*/
@font-face {
    font-family: Georgia100;
    src: url(fonts/Georgia.ttf);
}

/*--------- Forside --------*/


/*--------- Madspild --------*/
.madspild{
/*margin: 20px;*/
padding-left: 30px;
padding-top: 20px;
background-color: fff;
border-radius: 20px;
width: 100%;

}

.madspild h1{
    /*border-bottom: #000000 solid 2px;*/
    width: 90%;
    text-align: center;
    font-size: 2.5vh; 
    letter-spacing: 2px;
    font-weight: bold;
    z-index: 1;
}

.bgAPI{
    background-image: url(/img/baggrund_API.jpeg);
    background-repeat: no-repeat;
    position: relative;
    width: 90%;
    height: 100px;
    color: black;
}

.textAPI h1{
    padding-top: 70px;
    padding-left: 20px;
}

.text_wrapper{
    display: flex;
}

.text_wrapper p{
    text-align: left;
    width: 100%;
    font-size: 1vh; 
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 1.2px;
    
}
#bemaerk{
   padding-bottom: 10px; 
   margin-right: 25px;
   font-size: 1vh;
   font-weight: bold;
   letter-spacing: 1px;
}

.fotexNetto img{
    width: 100%;
    height: auto;
    padding-left: 10px;
    padding-right: 40px;
    padding-top: 30px;
    
}

.fotexNetto{
    display: flex;
    flex-direction: column;
    width: 80%;
}

#butik {

    display: flex;
    align-items: center
}

#butikker {
    display: block;
    text-align: left;
    font-size: .8rem;
    /* color: #000000; */
    background-color: #707e73;
    width: 100%;
}

#butikker a {
    display: block;
    text-align: left;
    font-size: 1.1rem;
    color: #000000;
}

tbody{
    margin-top: 0px;
}

#varer {
    color: white;
    font-size: 1rem;
    display: block;
    overflow: scroll;
    height: 0px;
}

#varer td,
#varer th {
    /* border-bottom: 1px solid #ddd; */
    padding: 8px;
    height: 50px;
    text-align: left;
}

#varer td h3 {
    color: #000000;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 4.3vw;
}

#varer th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.celle1 {
    display: inline-block;
    height: 100px;
    width: 250px;
    border-radius: 15px;
    padding: 10px;
    background-color: #707e73;
    border: 1px solid #707e73;
    
}

.celle2 {
    margin-bottom: 7px;
    /*margin-bottom: 15px; */
    border: 5px solid #707e73;
    border-radius: 15px;
    padding: 10px;
    background-color: #707e73;
   /*width: 18vw;*/
    height: auto;
    cursor: pointer;
    transition: all .6s;
    width: 150px;
    margin-right: 5px;
}


.celle2:hover {
    transition: all .6s;
    border: 1px solid #ed9648;
    background-color: #ed9648;
}

.celle2 p {
    text-align: left;
    font-size: 1vh;

    padding-left: 5px;
    padding-right: 10px;
    font-weight: bold;
}

.celle2_billede {
    display: flex;
    align-content: flex-start;
    padding-left: 5px;
    width: 90px;
    height: auto;
    /* height: 100px; */
    border-radius: 5px;
}

.celle1{
    width: 300px;
}

.celle1 .pris{
    display: flex;
    align-items: center;
    justify-content: center;
}

.celle1 .pris span{
    padding-left: 5px;
}

.tpris {
    display: flex;
    max-height: 100%;
   
    /* justify-content: space-around; */
}

.tpris p {
    text-align: center;
    margin-left: 10px;
    font-size: 1.2rem;
    width: 100px;
    /*margin-top: auto;*/
}

.tpris p span {
    /* margin-left: 10px; */
    font-size: 2rem;
}

.besparelse {
    display: inline-block;
    align-content: flex-start;
    border: 1px solid #ed9648;
    background-color: #ed9648;
    border-radius: 10px;
    font-size: 1.7rem;
    text-align: center;
    margin-top: 5px;
    width: 45%;
    
}

.besparelse p {
    font-size: 1rem;
}

.antal {
    display: inline-block;
    align-content: flex-start;
    border: 1px solid #ed9648;
    background-color: #ed9648;
    border-radius: 10px;
    font-size: 1.7rem;
    text-align: center;
    margin-left: 5px;
    width: 45%;
    
}

.antal p {
    font-size: 1rem;
}

.celle1_billede {
    max-width: 50%;
    max-height:100px;
    border-radius: 5px;
}

.open p {
    font-size: .5vh;
    font-weight: 300;
    padding-top: 5px;
}

.butik_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*margin-left: 20px;*/
    margin-right: 20px;
    /* align-items: flex-start; */
    width: 90%;
    height: 250px;
    border-bottom: 2px black solid;
    overflow-y: scroll;
}

.madspild_wrapper{
    padding-top: 100px;
    z-index: 1;
}
/*--------- Madspild Media Queries --------*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
   
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/*--------- Madspild slut --------*/

/*--------- Det sker/kalender start --------*/
.kwrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.storwrapper {
    padding-top: 130px;
}

.storwrapper:after {
    content: ' ';
    width: 100%;
    position: absolute;
    left: 0;
    right: 17px;
    height: 10em;
    top: 500px;
    background-image: linear-gradient(to bottom,
            rgba(232, 232, 232, 0),
            rgba(232, 232, 232, 0.993));
    z-index: 1;
}

.kwrapper::-webkit-scrollbar {
    -webkit-appearance: none;
}

.kwrapper::-webkit-scrollbar:vertical {
    width: 20px;
}

.kwrapper::-webkit-scrollbar:horizontal {
    height: 20px;
}

.kwrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid #e8e8e8; /*HUSK SAMME FARVE SOM BAGGRUND */
    background-color: rgba(0, 0, 0, .5);
}

.kalender {
    padding: 20px;
}

.sammen ul {
    margin-left: 30px;
    margin-bottom: 15px;
}
.tekst,
.sammen {
    width: 25%;
    margin-left: 30px;
    line-height: 22px;
}


.stor {
    flex-basis: 100%;
    width: 60%;
}

@media (max-width: 990px) {

    .kwrapper {
        flex-wrap: nowrap;
    }

    .tekst,
    .sammen {
        margin-left: 15px;
        margin-right: 15px;
    }

    .kalender {
        width: 100%;
    }

    .kalender stor {
        order: 3;
    }

    .kalender tekst {
        order: 1;
    }

    .kalender sammen {
        order: 2;
    }
}

.kwrapper h2,
.container h3 {
    text-align: center;
    font-weight: bolder;
}

.kwrapper img,
.kwrapper a {
    visibility: hidden !important;
    opacity: 0 !important;
    display: none !important;
}

.default-button {
    background-color: #4ECC69;
    border-radius: 100px;
    border-style: none;
    cursor: pointer;
    color: white;
    transition-duration: 0.5s;
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    -moz-box-shadow: 0 0 20px rgb(167, 167, 167);
    -webkit-box-shadow: 0 0 20px rgb(167, 167, 167);
    box-shadow: 0 0 20px rgb(167, 167, 167);
}

.default-button:hover {
    background-color: #71d687;
}

.sammen form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#search_input {
    font-size: 18px;
}

.form-group {
    margin-bottom: 30px;
    margin-top: 20px;
    font-family: 'Poppins' !important;
    margin-right: 30px !important;
    margin-left: 30px !important;
}

.form-group label {
    font-size: 18px;
    font-weight: 600;
}

.form-group input {
    width: 60%;
    padding: .375rem .75rem;
    padding-left: 17px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-family: Arial, FontAwesome;
    margin-right: auto !important;
    margin-left: auto !important;
    border-radius: 20px !important;
}

@media only screen and (max-width: 600px) {
    .form-group input {
        width: 100%;
        margin-left: 40px;
        margin-right: 40px;
    }
}

.form-group input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.container {
    margin-top: 30px !important;
}

.mapsframe {
    width: 100%;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    margin-bottom: 40px;
}

.mapsframe iframe {
    width: 100%;
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.col-lg-12 {
    text-align: center;
}

/*--------- Det sker/kalender slut --------*/

